@use "./default/sizes" as s;
@use "./default/colors" as c;
@use "./default/mixins" as m;

.popup-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: s.$size;

    background-color: #08070da3;

    @include m.media-min--width(1920px) {
        padding: s.$size s.$size06 s.$size04 s.$size06;
    }

    & .popup {
        display: flex;
        flex-direction: column;
        gap: s.$size02;

        width: min(100%, s.$size10);

        padding: s.$size01 s.$size02 s.$size02 s.$size02;

        background-color: c.$black-03;

        border: 1px solid c.$black-04;
        border-radius: s.$size;

        filter: drop-shadow(0 0 s.$size #08070d3d);

        & > .header-container {
            display: flex;
            flex-direction: column;
            gap: s.$size-02;

            & > .header {
                display: flex;
                justify-content: space-between;

                & > button {
                    all: unset;

                    cursor: pointer;

                    &:hover {
                        & > img {
                            transform: rotate(10deg) scale(1.1);
                        }
                    }

                    & > img {
                        transition: 0.2s;
                    }
                }
            }

            & > span {
                color: c.$white-02;

                & > .login {
                    color: c.$light-blue;
                    text-decoration: underline;

                    cursor: pointer;
                }

                & > .underline {
                    text-decoration: underline;
                }
            }
        }

        & > form {
            display: flex;
            flex-direction: column;
            gap: s.$size04;

            & > .group {
                display: flex;
                flex-direction: column;
                gap: s.$size-02;

                & .password-container {
                    & > ul {
                        margin: 0 0 s.$size 0;
                        padding: unset;

                        list-style: none;

                        & > li {
                            display: flex;
                            align-items: center;
                            gap: s.$size-02;

                            & > span {
                                color: c.$white-02;

                                &.err {
                                    color: c.$light-red;
                                }
                            }
                        }
                    }

                    & > button {
                        all: unset;

                        cursor: pointer;

                        & > span {
                            font-size: s.$size-01;
                            color: c.$light-blue;
                            text-decoration: underline;
                        }
                    }
                }

                & .container {
                    display: flex;
                    flex-direction: column;
                    gap: s.$size-04;

                    & > .input-container {
                        display: flex;
                        flex-direction: column;
                        gap: s.$size-03;

                        & > .input-header {
                            display: flex;
                            align-items: center;
                            gap: s.$size-01;

                            & > button {
                                padding: 0;

                                background-color: unset;
                                border: unset;

                                cursor: pointer;
                            }
                        }

                        & label {
                            color: c.$white-02;

                            & > span {
                                color: c.$light-purple;

                                &.err {
                                    color: c.$light-red;
                                }
                            }
                        }

                        & > .input {
                            box-sizing: border-box;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            padding: s.$size-02;

                            background-color: c.$black-02;

                            border: 1px solid c.$black-03;
                            border-radius: s.$size-03;

                            &:has(input:focus) {
                                border: 1px solid c.$black-04;
                            }

                            & > input {
                                width: 100%;

                                background-color: unset;

                                border: unset;

                                color: c.$white;

                                overflow: hidden;
                                text-overflow: ellipsis;

                                &::placeholder {
                                    color: c.$black-10;
                                }

                                &:focus {
                                    outline: unset;
                                    border: unset;
                                }
                            }
                        }
                    }

                    & > span {
                        min-height: s.$size;

                        font-size: s.$size-01;
                        color: c.$light-red;
                        line-height: s.$size;
                    }
                }
            }

            & > .code-group {
                display: flex;
                flex-direction: column;
                gap: s.$size04;

                & .code-container {
                    display: flex;
                    flex-direction: column;
                    gap: s.$size;

                    & > label {
                        & > span {
                            color: c.$white-02;
                        }
                    }

                    & > .input-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: s.$size-03;

                        & > input {
                            text-align: center;

                            width: s.$size04;
                            height: s.$size05;

                            background-color: c.$black-02;

                            border: unset;
                            border-radius: s.$size-03;

                            color: c.$white;

                            &::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            &[type="number"] {
                                appearance: textfield;
                                -moz-appearance: textfield;
                            }

                            &:focus {
                                outline: unset;
                                border: 1px solid c.$black-04;
                            }

                            &.err {
                                border: 1px solid c.$light-red;
                            }
                        }
                    }
                }

                & > .btn-container {
                    & > button {
                        background-color: unset;
                        border: unset;

                        color: c.$black-10;
                        text-decoration: underline;

                        cursor: not-allowed;

                        &.active {
                            color: c.$light-purple;

                            cursor: pointer;
                        }
                    }

                    & > .timer {
                        color: c.$white-02;
                    }
                }
            }

            & > .footer {
                display: flex;
                align-items: center;
                justify-content: space-between;

                & > .cancel {
                    padding: unset;

                    background-color: unset;
                    border: unset;

                    cursor: pointer;

                    & > span {
                        color: c.$white-02;
                        text-decoration: underline;
                    }
                }

                & > .submit {
                    align-self: flex-end;

                    display: flex;
                    align-items: center;
                    gap: s.$size-01;

                    width: fit-content;

                    padding: s.$size-02 s.$size01;

                    background-color: c.$black-04;

                    border: 2px solid c.$light-green;
                    border-radius: 100px;

                    cursor: pointer;

                    &:hover {
                        background-color: c.$black-05;
                    }

                    &:active {
                        background-color: c.$black-04;
                    }

                    & > span {
                        color: c.$white;
                    }

                    &.loading {
                        border-color: c.$white-09;

                        cursor: not-allowed;

                        &:hover {
                            background-color: c.$black-04;
                        }

                        &:active {
                            background-color: c.$black-04;
                        }

                        & > span {
                            color: c.$white-09;
                        }

                        & > svg {
                            & > .dot01 {
                                animation-name: dot01;
                                animation-duration: 3s;
                                animation-iteration-count: infinite;
                            }

                            & > .dot02 {
                                animation-name: dot02;
                                animation-duration: 3s;
                                animation-iteration-count: infinite;
                            }

                            & > .dot03 {
                                animation-name: dot03;
                                animation-duration: 3s;
                                animation-iteration-count: infinite;
                            }
                        }
                    }
                }

                & > .submit-code {
                    align-self: flex-end;

                    display: flex;
                    align-items: center;
                    gap: s.$size-01;

                    width: fit-content;

                    padding: s.$size-02 s.$size01;

                    background-color: c.$black-04;

                    border: 2px solid c.$black-10;
                    border-radius: 100px;

                    cursor: not-allowed;

                    & > span {
                        color: c.$black-10;
                    }

                    &.active {
                        border-color: c.$light-green;

                        cursor: pointer;

                        &:hover {
                            background-color: c.$black-05;
                        }

                        &:active {
                            background-color: c.$black-04;
                        }

                        & > span {
                            color: c.$white;
                        }
                    }
                }
            }
        }
    }
}

@keyframes dot01 {
    0% {
        opacity: 100%;
    }
    74% {
        opacity: 100%;
    }
    75% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes dot02 {
    0% {
        opacity: 0%;
    }
    24% {
        opacity: 0%;
    }
    25% {
        opacity: 100%;
    }
    74% {
        opacity: 100%;
    }
    75% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes dot03 {
    0% {
        opacity: 0%;
    }
    49% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    74% {
        opacity: 100%;
    }
    75% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}
