@use "./default/sizes" as s;
@use "./default/colors" as c;

.loader-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: c.$black;

    & > img {
        width: s.$size07;
    }
}
