@use "./default/sizes" as s;
@use "./default/colors" as c;
@use "./default/mixins" as m;

* {
    box-sizing: border-box;
}

body {
    position: relative;

    margin: 0;
    padding: s.$size;

    background-color: c.$black-01;

    font-size: s.$size;
    color: c.$white;

    @include m.media-min--width(1920px) {
        padding: s.$size s.$size06 s.$size04 s.$size06;
    }
}

// Font themes

.font01,
.font02,
.font03,
.font09,
.font10,
.font11 {
    font-family: "Micro 5";
}

.font04 {
    font-family: "Silkscreen";
    font-size: s.$size02;
}

.font05 {
    font-family: "OpenSans Regular";
}

.font06 {
    font-family: "Silkscreen";
}

.font07 {
    font-family: "OpenSans Regular";
    font-size: s.$size;
}

.font08 {
    font-family: "OpenSans Medium";
}

.theme01 {
    .micro01 {
        font-size: s.$size04 !important;
    }

    .micro02 {
        font-size: 26px !important;
    }

    .micro03 {
        font-size: 24px !important;
    }

    .micro09 {
        font-size: 32px !important;
    }

    .micro10 {
        font-size: 20px !important;
    }

    .micro11 {
        font-size: 44px !important;
    }

    .silk01 {
        letter-spacing: -2px;
    }

    .silk02 {
        letter-spacing: -1px;
    }
}

.theme02 {
    & .font01 {
        font-family: "Fredoka Bold";
        letter-spacing: 1px;
    }

    & .font02 {
        font-family: "Fredoka Medium";
        font-size: 18px;
        letter-spacing: 1px;
    }

    & .font03 {
        font-family: "Fredoka Regular";
        letter-spacing: 0.5px;
    }

    & .font04 {
        font-family: "Fredoka Medium";
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }

    & .font05 {
        font-family: "Montserrat Regular";
    }

    & .font06 {
        font-family: "Fredoka Medium";
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .font07 {
        font-family: "Montserrat Regular";
    }

    .font08 {
        font-family: "Montserrat Medium";
    }
}
