@use './default/sizes' as s;
@use './default/colors' as c;
@use './default/mixins' as m;

body {
    position: relative;

    margin: 0;
    padding: s.$size;

    background-color: c.$black-01;

    font-size: s.$size;
    color: c.$white;

    @include m.media-min--width(1920px) {
        padding: s.$size s.$size06 s.$size04 s.$size06;
    }
}

// Font themes

.font01 {
    font-family: 'Micro 5';
}

& .font02 {
    font-family: 'Micro 5';
}

.theme01 {
    .micro01 {
        font-size: s.$size04 !important;
    }

    .micro02 {
        font-size: 26px !important;
    }
}

.theme02 {
    & .font01 {
        font-family: 'Fredoka Bold';
        letter-spacing: 1px;
    }

    & .font02 {
        font-family: 'Fredoka Medium';
        letter-spacing: 1px;
    }
}
