@use "./default/sizes" as s;
@use "./default/colors" as c;
@use "./default/mixins" as m;

.notification {
    display: flex;
    flex-direction: column;
    gap: s.$size-02;

    padding: s.$size01 s.$size02 s.$size02 s.$size02;

    background-color: c.$black-04;

    border: 1px solid c.$black-05;
    border-radius: s.$size;

    filter: drop-shadow(0 0 s.$size #08070d3d);

    pointer-events: all;

    animation-name: displaySmall;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;

    @include m.media-min--width(1920px) {
        gap: s.$size;

        animation-name: displayBig;
    }

    & > .header {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: s.$size;

        & > button {
            all: unset;

            cursor: pointer;

            &:hover {
                & > img {
                    transform: rotate(10deg) scale(1.1);
                }
            }

            & > img {
                transition: 0.2s;
            }
        }
    }

    &.info {
        border-color: c.$light-purple;

        & > .header {
            & > span {
                color: c.$light-purple;
            }
        }
    }

    &.success {
        border-color: c.$light-green;

        & > .header {
            & > span {
                color: c.$light-green;
            }
        }
    }

    &.error {
        border-color: c.$light-red;

        & > .header {
            & > span {
                color: c.$light-red;
            }
        }
    }

    &.remove {
        animation-delay: 5s;
        animation-name: removeSmall;
        animation-fill-mode: forwards;

        @include m.media-min--width(1920px) {
            animation-name: removeBig;
        }

        &:hover {
            animation-name: unset;
        }
    }
}

@keyframes displaySmall {
    0% {
        transform: translateX(calc(100% + s.$size));
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes removeSmall {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100% + s.$size));
    }
}

@keyframes displayBig {
    0% {
        transform: translateX(calc(100% + s.$size06));
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes removeBig {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100% + s.$size06));
    }
}
