@use "./default/sizes" as s;

.shortcut-link {
    all: unset;

    cursor: pointer;

    &:hover {
        & .font03 {
            text-decoration: underline;
        }
    }

    & .font03 {
        max-width: 100%;

        overflow: hidden;

        text-overflow: ellipsis;
    }

    & .shortcut-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: s.$size-03;

        width: s.$size06;

        & .shortcut {
            display: flex;
            align-items: center;
            justify-content: center;

            width: s.$size06;
            height: s.$size06;

            border-radius: s.$size-02;
        }
    }
}
