@use "./default/sizes" as s;

.shortcut-container {
    position: relative;

    & .shortcut-link {
        all: unset;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: s.$size-03;

        width: s.$size06;

        cursor: pointer;

        &:hover {
            & .font03 {
                text-decoration: underline;
            }
        }

        & .font03 {
            max-width: 100%;

            overflow: hidden;

            white-space: nowrap;
            text-overflow: ellipsis;
        }

        & .shortcut {
            display: flex;
            align-items: center;
            justify-content: center;

            width: s.$size06;
            height: s.$size06;

            border-radius: s.$size-02;

            & > img {
                min-width: s.$size02;
                max-width: s.$size04;
            }
        }
    }

    & .shortcut-delete {
        all: unset;

        position: absolute;
        top: -8px;
        right: -8px;

        display: none;

        cursor: pointer;

        &:hover {
            display: block;

            & > img {
                transform: rotate(10deg);
            }
        }

        & > img {
            transition: 0.1s;
        }
    }

    &:has(.shortcut-link:hover) {
        & .shortcut-delete {
            display: block;
        }
    }
}
