$white: #f9f9f9;
$white-01: #edecec;
$white-02: #e2e2e2;
$white-03: #d6d5d5;
$white-04: #c8c8ca;
$white-05: #bebdbe;
$white-06: #b3b1b2;
$white-07: #a7a4a6;
$white-08: #9a989a;
$white-09: #8f8c8f;

$black: #08070d;
$black-01: #151419;
$black-02: #211f25;
$black-03: #2d2b30;
$black-04: #3a383c;
$black-05: #464348;
$black-06: #535054;
$black-07: #5e5c5f;
$black-09: #777477;
$black-10: #827f82;
