$size-04: 0.125rem; // 2px
$size-03: 0.25rem; // 4px
$size-02: 0.5rem; // 8px
$size-01: 0.75rem; // 12px
$size: 16px;
$size01: 1.25rem; // 20px
$size02: 1.5rem; // 24px
$size03: 1.75rem; // 28px
$size04: 2rem; // 32px
$size05: 3rem; // 48px
$size06: 4rem; // 64px
$size07: 6rem; // 96px
$size08: 8rem; // 128px
$size09: 16rem; // 256px
$size10: 32rem; // 512px
$size11: 64rem; // 1024px
